PORT=3000
MICROSERVICE_HOST=0.0.0.0
MICROSERVICE_PORT=8877
# Use the Render external URL for local development.
# Use the Render internal URL only for services running inside Render.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"